/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";

// color definitions
$primary-color: rgb(246, 246, 247);
$secondary-color: rgb(61, 61, 61);

$focus-color: rgb(162, 207, 141);
$focus-color-dark: darken(
  $color: $focus-color,
  $amount: 25%
);

$shadow-color: rgba(0, 0, 0, 0.075);

// font definitions
$font-size: 15px;
$font-color: rgb(85, 85, 85);

// sizes
$min-width: 310px;

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
  background: $primary-color;
}

h1 {
  margin-top: 1em;
}

label {
  float: left;
  display: block;
  margin-right: 10px;
  line-height: 40px;
  width: 20%;
  min-width: 80px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid rgb(66, 169, 72);
}

.ng-invalid:not(form) {
  border-left: 5px solid rgb(169, 68, 66);
}

.ng-select {
  float: left;
  width: 76%;
  min-width: $min-width + 30px;
  font-size: $font-size;
  color: $font-color;
  margin-bottom: 8px;
}

.ng-select:focus,
.ng-select:hover {
  border-color: $focus-color;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px $shadow-color, 0 0 8px $focus-color;
  box-shadow: inset 0 1px 1px $shadow-color, 0 0 8px $focus-color;
}

.input {
  display: block;
  width: 70%;
  min-width: $min-width;
  height: 23px;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-size: $font-size;
  color: $font-color;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px $shadow-color;
  box-shadow: inset 0 1px 1px $shadow-color;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input:focus,
.input:hover {
  border-color: $focus-color;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px $shadow-color, 0 0 8px $focus-color;
  box-shadow: inset 0 1px 1px $shadow-color, 0 0 8px $focus-color;
}

.sidebar {
  float: left;
  width: 30%;
  min-width: $min-width + 30px;
  margin-right: 50px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  background: $secondary-color;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          transition: all 0.7s;
          background: lighten($color: $secondary-color, $amount: 10%);
        }
      }
    }
  }
}

.service-item {
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  transition: all 0.7s;
  box-shadow: 0px 0px 15px #cdcdcd;
  border-radius: 15px;
}

.service-item:hover {
  background-color: $focus-color;
}

.service-item h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.service-item:hover h4 {
  color: white;
}

.service-item:hover p {
  color: white;
}

.service-item:hover .primary-button {
  background-color: $focus-color-dark;
  cursor: pointer;
}

.primary-button {
  display: inline-block;
  background-color: $focus-color;
  padding: 12px 18px;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
  border: 0px;
  width: 92px;
  height: 39px;
  align-self: center;
  outline: none;
}

.primary-button:hover {
  background-color: $focus-color-dark;
  cursor: pointer;
}

.disabled-button {
  display: inline-block;
  background-color: darkgray;
  padding: 12px 18px;
  color: whitesmoke;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
  border: 0px;
  width: 92px;
  height: 39px;
  align-self: center;
  outline: none;
  cursor: not-allowed;
}
