/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: rgb(246, 246, 247);
$secondary: rgb(61, 61, 61);
$light-green: #a2cf8d;
$dark-green: #5c9d7d;

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
  background: $primary;
}

h1 {
  margin-top: 1em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $secondary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          transition: all 0.7s;
          background: lighten($color: $secondary, $amount: 10%);
        }
      }
    }
  }
}

.service-item {
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  transition: all 0.7s;
  box-shadow: 0px 0px 15px #cdcdcd;
  border-radius: 15px;
}

.service-item:hover {
  background-color: $light-green;
}

.service-item h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.service-item:hover h4 {
  color: white;
}

.service-item:hover p {
  color: white;
}

.primary-button a {
  display: inline-block;
  background-color: $light-green;
  padding: 12px 18px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
}

.primary-button a:hover {
  background-color: $dark-green;
}

.white-button a {
  display: inline-block;
  background-color: white;
  padding: 12px 18px;
  color: black;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
}

.white-button a:hover {
  background-color: black;
  color: white;
}

.black-button a {
  display: inline-block;
  background-color: black;
  padding: 12px 18px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5s;
}

.black-button a:hover {
  background-color: white;
  color: black;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: $light-green;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $light-green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $light-green;
}
