<h1>Edit Brewery</h1>

<div>
    <div class="sidebar">
        <div>
            <label for="name">Name</label>
            <input name="name" id="name" [(ngModel)]="brew.name" />
        </div>

        <div>
            <label for="country">Country</label>
            <input name="country" id="country" [(ngModel)]="brew.country" />
        </div>

        <div>
            <label for="state">State</label>
            <input name="state" id="state" [(ngModel)]="brew.state" />
        </div>

        <div>
            <label for="street">Street</label>
            <input name="street" id="street" [(ngModel)]="brew.street" />
        </div>

        <div>
            <label for="phone">Phone</label>
            <input name="phone" id="phone" [(ngModel)]="brew.phone" />
        </div>

        <div>
            <label for="website_url">Website</label>
            <input name="website_url" id="website_url" [(ngModel)]="brew.website_url" />
        </div>
    </div>

    <div>
        <li class="service-item">
            <p class="name">{{ brew.name }}</p>
            <br>
            <p class="attribute">{{ brew.country }}</p>
            <p class="attribute">{{ brew.state }}</p>
            <p class="attribute">{{ brew.street }}</p>
            <p class="attribute">{{ brew.phone | phone: 'US' }}</p>
            <div class="primary-button">
                <a *ngIf="brew.website_url" href="{{ brew.website_url }}" target="_blank">Website</a>
            </div>
        </li>
    </div>
</div>