<h1>Edit Brewery</h1>

<div class="sidebar">
    <label for="name">Name</label>
    <input name="name" id="name" [(ngModel)]="brew.name" class="input" required />

    <label for="country">Country</label>
    <ng-select name="country" id="country" [items]="countries" [(ngModel)]="brew.country">
    </ng-select>

    <label for="state">State</label>
    <input name="state" id="state" [(ngModel)]="brew.state" class="input" required />

    <label for="street">Street</label>
    <input name="street" id="street" [(ngModel)]="brew.street" class="input" required />

    <label for="phone">Phone</label>
    <input name="phone" id="phone" [(ngModel)]="brew.phone" class="input" required />

    <label for="website_url">Website</label>
    <input name="website_url" id="website_url" [(ngModel)]="brew.website_url" class="input" />

    <label for="tags">Tags</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedTags">
        <ng-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</ng-option>
    </ng-select>

    <br>
</div>

<app-brew-card [brew]="brew"></app-brew-card>