<h1 i18n="Breweries@@breweries">Breweries</h1>

<p>
    <input type="text" placeholder="Search by any term"
        i18n-placeholder="Search field placeholder@@search.field.placeholder" style="width: 320px; min-width: 320px"
        [(ngModel)]="searchTerm" class="input">
</p>

<ng-template [ngIf]="filteredBreweries.length > 0" [ngIfElse]="noSearchResultsFound">
    <ul>
        <app-brewery-card *ngFor="let brewery of filteredBreweries" [brewery]="brewery"></app-brewery-card>
    </ul>
</ng-template>

<ng-template #noSearchResultsFound>
    <h2 i18n="No search results found@@no.search.results.found">No search results found</h2>
</ng-template>