<li class="service-item">
    <p class="name">{{ brewery.name }}</p>
    <br>
    <p class="attribute">{{ brewery.country }}</p>
    <p class="attribute">{{ brewery.state }}</p>
    <p class="attribute">{{ brewery.postal_code }} {{ brewery.city }}</p>
    <p class="attribute">{{ brewery.street }}</p>
    <p class="attribute">{{ brewery.phone | phone: 'US' }}</p>

    <ng-template [ngIf]="brewery.website_url" [ngIfElse]="disabled">
        <button (click)="openLink()" class="primary-button" i18n="Website@@website">Website</button>
    </ng-template>

    <ng-template #disabled>
        <button class="disabled-button" i18n="Website@@website">Website</button>
    </ng-template>
</li>