// sizes
$width: 310px;

li {
  padding: 1em;
  margin-right: 20px;
  width: $width;
  height: $width;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  p.name {
    font-weight: bold;
    font-size: 1.2rem;
  }
  p.attribute {
    font-size: 0.9rem;
    flex-grow: 1;
  }
}
