<h1>Breweries</h1>

<div class="play-container">
    <p>
        <input type="text" placeholder="Search by name" style="width: 300px" [(ngModel)]="searchTerm">
    </p>
</div>

<ul *ngIf="brews">
    <li *ngFor="let brew of filteredBrews">
        <p class="name">{{ brew.name }}</p>
        <p class="country">{{ brew.country }}</p>
        <p class="attribute">{{ brew.state }}</p>
        <p class="attribute">{{ brew.street }}</p>
        <p class="attribute">{{ brew.phone | phone: 'US' }}</p>
        <a *ngIf="brew.website_url" href="{{ brew.website_url }}" target="_blank" class="attribute">Website</a>
    </li>
</ul>