<li class="service-item">
    <p class="name">{{ brew.name }}</p>
    <br>
    <p class="attribute">{{ brew.country }}</p>
    <p class="attribute">{{ brew.state }}</p>
    <p class="attribute">{{ brew.street }}</p>
    <p class="attribute">{{ brew.phone | phone: 'US' }}</p>

    <ng-template [ngIf]="brew.website_url" [ngIfElse]="disabled">
        <button (click)="openLink()" class="primary-button">Website</button>
    </ng-template>

    <ng-template #disabled>
        <button class="disabled-button">Website</button>
    </ng-template>
</li>